################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/42_SG_cursus
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vscode/settings.json
.vscode/tasks.json
Tests/xlow one/test2.txt
Tests/xlow one/test3.txt
Trolling/lifetime/a.out
working_main/minishell/mcombeau
